
<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
    </form>
</div>
<div class="container" *ngIf="weatherData">
    <div class="upper">
        <img src="../assets/sun.jpg" *ngIf="weatherData.main.temp  > 15 ">
        <img src="../assets/winter.jpg" *ngIf="weatherData.main.temp  <= 15">
        <!--<img src="../assets/cloudy.gif"*ngIf="14 < 15" >-->
        <div class="weather-data">
            <div class="location">{{weatherData.name}}</div>
         

            <div class="temp">{{weatherData.main.temp| number: '1.0-0'}}°C</div>
            <div class="today">{{todayDate | date:"EEE dd MMM"}}</div>
        </div>
            <!--number pipe is use to convert strint into required no.-->
        </div>

    <div class="lower">
   
        <div class="information">
            More Information
        </div>
       

        <div class="info-container">
            <div class="info-block">
                <div class="info-inside">
                    <img src="../assets/mini.webp">
                    <span>min</span>
                </div>
                <div class="info-block-value">
                   {{ weatherData.main.temp_min  | number: '1.0-0'}}°C
                </div>

            </div>
            <div class="info-block">
                <div class="info-inside">
                    <img src="../assets/maxi.png">
                    <span>max</span>
                </div>
                <div class="info-block-value">
                  {{weatherData.main.temp_max  | number: '1.0-0'}}°C
                 
                </div>

            </div>
            <div class="info-block">
                <div class="info-inside">
                    <img src="../assets/humidity.webp">
                    <span>humidity</span>
                </div>
                <div class="info-block-value">
                 {{weatherData.main.humidity}}%
                </div>

            </div>
            <div class="info-block">
                <div class="info-inside">
                    <img src="../assets/wind.png">
                    <span>wind</span>
                </div>
                <div class="info-block-value">
                {{weatherData.wind.speed}} 
                km/h
                </div>

            </div>

        </div>

    </div>
</div>

<router-outlet></router-outlet>



